<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.etoolkit.home">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".di.AstroPictureApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.АстрономическаяКартинкаДня">
        <activity
            android:name=".presentions.screen.detailtScreen.DetailActivity"
            android:exported="false" />
        <activity
            android:name=".presentions.screen.mainScreen.MainActivity"
            android:exported="false">

        </activity>
        <activity android:name=".presentions.screen.splashScreen.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>